*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Geneva;
}

html, body{
    width: 100%;
    height: 100%;
}

#center{
    width: 60%;
    height: 60%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagediv{
    height: 270px;
    width: 190px;
    /* background-color: yellow; */
    position: absolute;
    overflow: hidden;
}

img{
    object-fit: cover;
    height: 270px;
    width: 190px;
    transform: translateY(100%);
}