*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    height: 20vmin;
    width: 100%;
    background-color: #252422;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}

.header h1{
    font-size: 60px;
    text-transform: uppercase;
}

.todo input{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    margin-right: 10px;
}

.btn,i{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    background-color: #eb5e28;
    color: white;
    cursor: pointer;
}

/* -- section-- */

.section{
    min-height: 80vmin;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-top: 2rem;
    background-color: #fffcf2;
}

.todo-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.todo-text{
    border: 1px solid black;
    min-width: 500px;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;    
}

.completed{
    background-color: #80ed99;
    color: white;
    /* border: #80ed99; */
    border: none;
}