*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(155, 193, 155);
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel{
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
#ptop{
    width: 100%;
    height: 100px;
    background-color: rgb(80, 129, 80);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30%;
}

.ele{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ele h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    background-color: white;
    color: rgb(10, 116, 10);
    padding: 10px 20px;
    border-radius: 5px;
}

#pbtm{
    width: 100%;
    height: calc(100% - 100px);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: rgb(80, 129, 80);
}

.bubble{
    width: 60px;
    height: 60px;
    background-color: rgb(80, 129, 80);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.bubble:hover{
    background-color: rgb(47, 77, 47);
    cursor: pointer;
}